Source: jpgcrush
Section: graphics
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: http://akuvian.org/src/
Vcs-Git: https://github.com/rbrito/pkg-jpgcrush
Vcs-Browser: https://github.com/rbrito/pkg-jpgcrush

Package: jpgcrush
Architecture: all
Depends:
 libfile-slurp-perl,
 libjpeg-progs,
 ${misc:Depends}
Recommends:
 libimage-exiftool-perl
Description: lossless recompressor of jpeg files
 jpgcrush is a lossless recompressor of jpeg files that works by using the
 jpegtran utility to change the scans order of the jpeg files and by
 regenerating the Huffman tables of the entropy coding of the files.
 It can, in many cases, achieve size reductions of up to 10% relative
 to the original files.
 .
 This version of the programs keep all the EXIF metadata and, if desired,
 can be followed by a command line invocation like
 .
   exiftool -all= *.jpg
 .
 to remove some metadata that may not be desired.
 .
 You can, optionally, use the following command to remove metadata:
 .
   jhead -dt -dc -di -dx -du *.jpg
 .
 Be warned that this second command may remove some metadata (namely, APP14
 JPEG tags) that are, alas, used when rendering the JPEGs and this may
 result in incorrect colors.
